extends layout

block content
    header.site-header
        include navbar

    body
        h1.title Your Groups
        div.list-container
            ul(class="list-group")
                each group in userInfo.GroupOs
                    li(class="list-group-item list-group-item-action" id="listItem")
                        div.row
                            a.list-item(href="/group/home?user=" + userInfo.UserName + "&group=" + group._id + "&user-id=" + userInfo._id)=group.Name
                        - var memberList = group.MemberOs[0].Name
                        - for(var i = 1; i < group.MemberOs.length; i++)
                            - memberList = memberList + ", " + group.MemberOs[i].Name
                        div.row.sub-row
                            p #{memberList}

